{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
	<div class="post">
		<div class="date">
			<p>published: {{ post.published_date }}</p>
		</div>
		<br/>
		<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		{% if post.text|length > 500 %}
			<p>{{ post.text|safe|truncatewords:"150"|linebreaks }}</p>
			<a href="{% url 'post_detail' pk=post.pk %}">Read more >></a>
		{% else %}
			<p>{{ post.text|linebreaks }}</p>
		{% endif %}
	</div>
	{% endfor %}
{% endblock %}